<form [formGroup]="produtoForm" (submit)="enviar()">
    <div class="container">
      <div class="mb-3">
        <label for="nome" class="form-label mt-3 fw-bold">Nome</label>
        <input type="text" class="form-control" id="nome" formControlName="nome">
        <div id="nomeHelp" class="form-text" *ngIf="nome?.invalid && (nome?.dirty || nome?.touched)">
          <div *ngIf="nome?.errors?.['required']">
            <p class="text-danger">Este campo é obrigatório!</p>
          </div>
          <div *ngIf="nome?.errors?.['maxlength']">
            <p class="text-danger">O nome deve ter no máximo 255 caracteres!</p>
          </div>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="codigoBarras" class="form-label fw-bold">Código de Barras</label>
        <input type="text" class="form-control" id="codigoBarras" formControlName="codigoBarras">
        <div id="codigoBarrasHelp" class="form-text" *ngIf="codigoBarras?.invalid && codigoBarras?.touched">
          <p class="text-danger">Este campo é obrigatório!</p>
        </div>
      </div>
  
      <div class="mb-3">
        <label for="preco" class="form-label fw-bold">Preço</label>
        <input type="number" class="form-control" id="preco" formControlName="preco">
        <div id="precoHelp" class="form-text" *ngIf="preco?.invalid && preco?.touched">
          <p class="text-danger">Este campo é obrigatório!</p>
        </div>
      </div>
      <a class="btn btn-danger me-3" routerLink="/produtos" routerLinkActive="active">Voltar</a>
      <button type="submit" class="btn btn-success" [disabled]="produtoForm.invalid || preco?.value <= 0" >{{ textoBotao }}</button>
    </div>
  </form>
  
