<div class="container text-center">
    <h3 class="mb-3 mt-3">Produtos</h3>
    <div>
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Código de Barras</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody class="table-group-divider table-light">
                <tr *ngFor="let produto of produtos$ | async">
                    <td>{{ produto.nome }}</td>
                    <td>{{ produto.codigoBarras }}</td>
                    <td>{{ produto.preco | currency: 'BRL'}}</td>
                    <td>
                        <a class="btn btn-warning me-2" [routerLink]="['/produtos/atualizar', produto.id]" routerLinkActive="active">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                        <button class="btn btn-danger" (click)="deletar(produto.id!)">
                            <i class="bi bi-trash3"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="d-flex justify-content-start mt-3">
        <a class="btn btn-success" routerLink="/produtos/cadastrar" routerLinkActive="active">Cadastrar</a>
    </div>
</div>
