<div class="container text-center">
    <h3 class="mb-3 mt-3">Produtos</h3>
    <div class="mx-auto col-lg-12 col-md-8 col-sm-10">
        <table class="table table-bordered " >
            <thead class="table-secondary">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Código de Barras</th>
                    <th scope="col">Preço</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <tr>
                    <td>teste</td>
                    <td>teste</td>
                    <td>teste</td>
                    <td>teste</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
